*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 100%;
    height: 70px;
    background-color: #00b3b3;
}
.header .content-header{
    width: 95%;
    height: 70px;
    margin: 0 auto;
}
.header .content-header .title{
    width: 50%;
    height: 70px;
    line-height: 70px;
    margin-left: 185px;
    font-size: 30px;
    color: #cccccc;
    float: left;
    
}
.header .content-header .user{
    width: 20%;
    height: 70px;
    line-height: 70px;
    float: right;
    
}
.header .content-header i{
    font-size: 25px;
    margin-left: 60px;
    margin-right: 10px;
    
}
.container{
    width: 100%;
    height: 568px;
    margin: 0 auto;
}
.row{
    width: 100%;
    height: 568px;
}
.center-content{
    width: 40%;
    margin: 0 auto;
}
.image-upload{
    width: 40%;
    float:left;
}
.predict{
    width: 50%;
    float:right;
    margin-top: 40px;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #222529;
}
.clear{
    clear: both;
}


.title h2{
    float:left;
}
.title input{
    float: right;
}
.camera{
    float: left;
}
.ketqua{
    float:right;
    width: 40%;
    height: 530px;
}
.camera{
    width: 640px;
    height: 480px;
    background-image: url('static/img/noneimage.jpg');
}